@page "/"
@using BooleanExpressionParser.Web.Client.Components

<PageTitle>BEP - Boolean Expression Parser</PageTitle>

<div class="container">
    <div class="input">
        <ExpressionMultiInput>
            Go
        </ExpressionMultiInput>
    </div>
</div>

