@page "/"

<PageTitle>Index Page</PageTitle>

<h1>BooleanExpressionParser - Web</h1>
<p>This is a web UI for BooleanExpressionParser.</p>
<p>Enter a boolean expression and click "Parse" to see the result.</p>


<div class="card">
    <h2>Title</h2>
    <p>Lorem ipsum</p>
</div>