<div class="container">
    <h3>Boolean Expression Parser</h3>
    <nav>
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/truth-table">Truth Table Generator</a></li>
            <li><a href="/evaluator">Evaluator</a></li>
            <li><a href="/notation-converter">Notation Converter</a></li>
        </ul>
    </nav>
</div>