.container {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

    .container ul {
        display: flex;
        gap: 2rem;
    }

        .container ul li {
            list-style: none;
        }

            .container ul li a {
                text-decoration: none;
                color: black;
            }

                .container ul li a.active {
                    font-weight: bold;
                }
