@use './mixins';
@use "sass:map";

/* Construction */
$border-radius: 8px;
$large-shadow: 0px 2.6px 2.7px rgba(0, 0, 0, 0.045), 0px 7.1px 7.5px rgba(0, 0, 0, 0.065), 0px 17.2px 18.1px rgba(0, 0, 0, 0.085), 0px 57px 60px rgba(0, 0, 0, 0.13);


/* Colours */

// Palettes
$palettes: (
        "one": (
                "light": (
                        "background": #F0F3FF,
                        "on-background-title": #F15025,
                        "on-background-text": #19191D,
                        "surface": #E1E4F1,
                        "on-surface-text": #19191D,
                        "control": #D4D7E7,
                        "border": #C6CADC,
                        "primary": #F15025,
                        "on-primary": #0b0c10,
                ),
                "dark": (
                        "background": #0b0c10,
                        "on-background-title": #F15025,
                        "on-background-text": #F5E7E4,
                        "surface": #181A23,
                        "on-surface-text": #F5E7E4,
                        "control": #272934,
                        "border": #353844,
                        "primary": #F15025,
                        "on-primary": #0b0c10,
                ),
        ),
);

$palette: one;

//$palette-one: #264653 #2A9D8F #E9C46A #F4A261 #E76F51;
//$palette-two: #386641 #6A994E #A7C957 #F2E8CF #BC4749;


:root {
  $current-palette: map.get($palettes, $palette);

  @each $theme, $theme-values in $current-palette {
    @if $theme == 'light' {
      @each $property, $value in $theme-values {
        --#{$property}: #{$value};
      }
    } @else {
      @include mixins.dark() {
        @each $property, $value in $theme-values {
          --#{$property}: #{$value};
        }
      }
    }
  }
  /* #region old */
  // Light
  //--background-one: #{$light-background-one};
  //--background-two: #{$light-background-two};
  //--background-three: #{$light-background-three};
  //--text-title: #{$light-text-title};
  //--text-body: #{$light-text-body};
  //--primary: #{$light-primary};
  //--on-primary: #{$light-on-primary};
  //@include mixins.dark {
  //    --background-one: #{$dark-background-one};
  //    --background-two: #{$dark-background-two};
  //    --background-three: #{$dark-background-three};
  //    --text-title: #{$dark-text-title};
  //    --text-body: #{$dark-text-body};
  //    --primary: #{$dark-primary};
  //    --on-primary: #{$dark-on-primary};
  //}
  /* #endregion */
}
