/* Construction */
/* Colours */
:root {
  --background: #F0F3FF;
  --on-background-title: #F15025;
  --on-background-text: #19191D;
  --surface: #E1E4F1;
  --on-surface-text: #19191D;
  --control: #D4D7E7;
  --on-control-text: #19191D;
  --border: #C6CADC;
  --primary: #F15025;
  --on-primary: #0b0c10;
  /* #region old */
  /* #endregion */
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0c10;
    --on-background-title: #F15025;
    --on-background-text: #F5E7E4;
    --surface: #181A23;
    --on-surface-text: #F5E7E4;
    --control: #272934;
    --on-control-text: #F5E7E4;
    --border: #353844;
    --primary: #F15025;
    --on-primary: #0b0c10;
  }
}
