/* Construction */
/* Colours */
:root {
  --background: #aaa;
  --on-background: #444;
  /* #region old */
  /* #endregion */
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0c10;
    --on-background-title: #F15025;
    --on-background-text: #F5E7E4;
    --surface: #181A23;
    --on-surface-text: #F5E7E4;
    --border: #353844;
  }
}
