/* Construction */
/* Colours */
:root {
  --background-one: #fff;
  --background-two: #eee;
  --background-three: #ddd;
  --text-title: #1a211b;
  --text-body: #262926;
  --primary: #02c415;
  --on-primary: #000;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-one: #1a1f1a;
    --background-two: #1b241d;
    --background-three: #202e21;
    --text-title: #cae8cd;
    --text-body: #c1d4c2;
    --primary: #40ff53;
    --on-primary: #000;
  }
}

.expression-input {
  margin: 1rem;
  display: inline-flex;
  box-shadow: 0px 2.6px 2.7px rgba(0, 0, 0, 0.045), 0px 7.1px 7.5px rgba(0, 0, 0, 0.065), 0px 17.2px 18.1px rgba(0, 0, 0, 0.085), 0px 57px 60px rgba(0, 0, 0, 0.13);
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--background-three);
}

input[type=text] {
  padding: 1rem;
  border: none;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "JetBrains Mono", monospace;
  border-radius: 8px 0 0 8px;
  background-color: transparent;
  color: var(--text-body);
}

button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  font-size: 1rem;
  background-color: var(--primary);
}
button ::deep span {
  color: var(--on-primary);
}
button ::deep iconify-icon {
  font-size: 1.25rem;
  color: var(--on-primary);
}
