<div class="container">
    <h3>BEP</h3>
    <nav>
        <ul>
            <li>
                <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">App</NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="/evaluator" Match="NavLinkMatch.All">Evaluator</NavLink>
            </li>
            <li>
                <a href="https://github.com/tomc128/boolean-expression-parser" target="_blank"><iconify-icon icon="mdi:github"></iconify-icon></a>
            </li>
        </ul>
    </nav>
</div>
