@use '../Styles/variables';
@use '../Styles/mixins';

.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    height: variables.$nav-bar-height;
    align-items: center;
    background-color: var(--surface);
    border-bottom: 1px solid var(--border);
    
    ul {
        display: flex;
        align-items: center;
        gap: 2rem;

        li {
            list-style: none;
            
            iconify-icon {
                font-size: 1.5rem;
                vertical-align: text-bottom;

                &:hover {
                    color: rgb(80, 80, 80);
                }
            }

            ::deep {
                // Need to access .nav-link using deep, as it is a separate component (NavLink)
                .nav-link {
                    text-decoration: none;
                    color: var(--on-surface-text);

                    &.active {
                        color: var(--primary);
                    }
                }

                a {
                    text-decoration: none;
                    color: var(--on-surface-text);
                }
            }
        }
    }
}
