<div class="value-input">
    <ul>
        @foreach (var item in Ast.Variables)
        {
            <li>
                <label class="container">
                    <span class="label">@item</span>
                    <input type="checkbox" @bind="inputs[item]"/>
                    <span class="checkmark"></span>
                </label>
            </li>
        }
    </ul>

    <button @onclick="OnButtonClicked">@ChildContent</button>
</div>


@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public Ast Ast { get; set; }

    [Parameter]
    public EventCallback<Dictionary<string, bool>> EvaluateClicked { get; set; }

    private Dictionary<string, bool> inputs = new();

    private Task OnButtonClicked()
    {
        return EvaluateClicked.InvokeAsync(inputs);
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        foreach (var item in Ast.Variables)
        {
            if (!inputs.ContainsKey(item)) inputs.Add(item, false);
        }
    }
}